@import url("https://fonts.cdnfonts.com/css/norse");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
	--title-font: "Norse", sans-serif;
	--main-font: "Open Sans", sans-serif;
	--main-font-size: 1.5rem;

	--main-color: #596d48;
	--input-border-color: #e5e7eb;
	--background-color: #f9fafb;
	--form-color: #fff;
	--outline-focus-color: #1d4ed8;
	--invalid-color: #b91c1c;
}

img {
	max-width: 120px;
}

body {
	width: 100%;
	height: 100%;
	font-family: var(--main-font);
	font-size: var(--main-font-size);
}

.content-container {
	width: inherit;
	height: inherit;
	display: flex;
	height: 100vh;
}

.background-container {
	background-image: url("assets/background-image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100vh;
	width: 30vw;

	.title {
		width: 100%;
		margin-top: 13rem;
		padding: 1rem;
		background-color: hsla(0, 0%, 0%, 0.604);
		display: flex;
		justify-content: center;
	}

	h1 {
		height: 100%;
		font-family: var(--title-font);
		font-size: 7rem;
		text-align: center;
		color: #fff;
	}
}

.sign-up-container {
	height: 100%;
	background-color: var(--background-color);
	width: 70vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

.introduction p {
	width: 50rem;
	font-weight: 600;
	line-height: 1.2;

	span {
		font-style: italic;
	}
}

.introduction p:last-child {
	margin-top: 2rem;
}

.form-container {
	background-color: var(--form-color);
	height: 350px;
	/* bottom box shadow */
	box-shadow: 1px 6px 5px -1px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 1px 6px 5px -1px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 1px 6px 5px -1px rgba(0, 0, 0, 0.17);
}

.form-container p:first-child {
	margin-left: 3rem;
	margin-bottom: 1.5rem;
	margin-top: 14px;
	font-weight: 600;
}

.sign-up-form {
	display: flex;
	gap: 6rem;
	span,
	input {
		display: block;
	}

	span {
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 3px;
		color: #535252;
	}

	input {
		margin-bottom: 1.5rem;
		border: 2px solid var(--input-border-color);
		border-radius: 8px;
		font-size: 1.3rem;
	}
}

.introduction,
.sign-up-form,
.button-container {
	margin-left: 3rem;
}

.button-container {
	.create-account-button {
		padding: 10px 50px;

		background-color: var(--main-color);
		color: #fff;
		font-size: 1.3rem;
		font-weight: 600;

		border: none;
		border-radius: 8px;

        box-shadow: 9px 7px 15px -6px rgba(0,0,0,0.64);
        -webkit-box-shadow: 9px 7px 15px -6px rgba(0,0,0,0.64);
        -moz-box-shadow: 9px 7px 15px -6px rgba(0,0,0,0.64);
	}

    p {
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: var(--main-color);
        font-weight: 700;
    }
}
